*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* [album overlay] */
#om-artist-grid-album-overlay{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 99999;
}
.om-artist-grid-album-overlay-bg{
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    opacity: 0.8;
    position: absolute;
}
.om-artist-grid-album-overlay-wrap{
    width: 1300px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.om-artist-grid-album-overlay-album{
    width: 1300px;
    height: 95%;
    margin: 0 auto;
    position: relative;
}
.om-artist-grid-album-overlay-prev{
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
}
.om-artist-grid-album-overlay-next{
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
}
.album-overlay-wrap{
    width: 100vw;
}
.album-overlay-img-wrap{
    width: 60%;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}
.album-overlay-img-wrap li{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    float: left;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-overlay-img-wrap li{
    padding-bottom: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.overlay-close-btn{
    width: 100%;
    height: auto;
    cursor: pointer;
    color: white;
    letter-spacing: 2.22px;
    display: flex;
    justify-content: center;
    font-family: Avenir;
}

.overlay-close-btn-img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.overlay-close-btn img{
    width: 100%;
}
.overlay-close-btn-span{
    color: white;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
}

/* [강사님 그리드] */
#om-artist-grid{
    max-width: 1217px;
}
.om-artist-wrap{
    max-width: 1217px;
}
.om-choreographer-grid{
    width: calc(33% - 3%);
    padding: 1.5%;
    position: relative;
}

/* [common] */
.text-center{
    text-align: center;
}
.om-choreographer-image-grid{
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.om-choreographer-image-grid span{
    transition: .25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.om-choreographer-image-grid-artist-name {
    font-size: calc(0.5em + 2vmin) !important;
    font-family: Avenir;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    cursor: pointer;
}
.om-choreographer-image-grid-artist-name a {
    opacity: 0;
}

/* [미디어쿼리] */
@media (min-width: 320px) and (max-width: 767px){
    .om-artist-grid-album-overlay-wrap{
        max-width: 1300px;
        width: 100%;
    }
    .om-artist-grid-album-overlay-album{
        max-width: 1300px;
        width: 100%;
    }
    .om-artist-grid-album-overlay-prev{
        width: 5vw;
    }
    .om-artist-grid-album-overlay-prev img{
        width: 100%;
    }
    .album-overlay-img-wrap{
        width: 100%;
    }
    .om-artist-grid-album-overlay-next{
        width: 5vw;
    }
    .om-artist-grid-album-overlay-next img{
        width: 100%;
    }
}