#artists-grid{
    background: pink;
    width: 1217px;
    height: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.artist-name{
    background: skyblue;
    width: 320px;
    height: 320px;
}
a{
    font-size: calc(0.5em + 2vmin) !important;
    font-family: Avenir;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    cursor: pointer;
}
.ara{
    background-image: url("../img/agency_ara.jpg");
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#popup{
    display: none;
    width: 100%;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 99999;
}
.artists-images{
    width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.popup-close-btn{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 auto;
}
.popup-close-btn img{
    width: 100%;
}
.popup-visibility{
    visibility: visible;
}

/* [common] */
.text-center{
    text-align: center;
}